.container {
    display: block;
    max-width: 1078px;
  
    /* ↑　max以下の時の左右の余白 */
    margin: 0 auto;
  
    /* ↑　中央寄せ */
    padding-left: 40px;
    padding-right: 40px;
  }
  
  @media screen and (max-width: 480px) {
    .container {
      display: block;
      max-width: 393px;
      margin: 0 auto;
    }
  }
  